.navbar {
  font-family: 'Avenir Next';
  font-weight: 700;
  font-size: 18px;
  line-height: 38.25px;
  background-color: #6d41a1;

  /* ウィンドウ全体にメニューを広げる */
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 200;
}

.navbar * {
  color: white;
  background-color: #6d41a1;
}

.burger {
  margin-left: 16px;
}
